@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.gradient-bg {
  background: linear-gradient(135deg, #0ea5e9 0%, #7dd3fc 100%);
}

.gradient-bg-secondary {
  background: linear-gradient(135deg, #d946ef 0%, #f0abfc 100%);
}
